# Standard python ignore
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
.vscode/
.env/
.env.local/
.env.development.local/
.env.test.local/
.env.production.local/

outputs/
models/
wandb/
unsloth_compiled_cache/
grpo_trainer_lora_model/
bert_level/
bert_type/

models/

MATH_data/test/
MATH_data/train/